#$ vendor/bin/phpstan analyze
includes:
    # Include this extension, if not already autoloaded via composer
    # - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    # had to leave level:max after reading this: https://github.com/phpstan/phpstan/issues/5927
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - inc/
        - templates/
        - plugin.php
    excludePaths:
        analyse:
            - vendor/
            # "/wp-content/" is created during composer install,
            # when package is tested
            # and not running within ft-platform
            - wp-content/
            - tests/
    # @todo #37 Find a nicer way instead of ignoring this Error on every ft-module
    ignoreErrors:
        - '#Constant DISABLE_WP_CRON not found\.#'
        - '#Constant WP_ENVIRONMENT_TYPE not found\.#'
        - '#Function Altis\\register_module not found\.#'
        - '#Function Figuren_Theater\\get_config not found\.#'

    # allow constants to have different values in different environments
    # to prevent errors like: "Right side of && is always false."
    # @see https://phpstan.org/config-reference#constants
    dynamicConstantNames:
        - FT_MAINTENANCE_MODE
